<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div th:object="${blog}">
        <div class="mb-3">
            <label class="col-form-label"><b>Title:</b></label>
            <p th:text="${blog.title}"></p>
        </div>
        <div class="mb-3">
            <label class="col-form-label"><b>Content:</b></label>
            <p th:text="${blog.content}"></p>
        </div>
        <div class="mb-3">
            <label class="col-form-label"><b>Category:</b></label>
            <p th:text="${blog.category.categoryName}"></p>
        </div>
        <div class="mb-3">
            <label class="col-form-label"><b>Date:</b></label>
            <p th:text="${blog.date}"></p>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</html>