<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of blog</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <a th:href="@{/blog/add}">Add new blog</a>
    <h3>List of blog</h3>
    <table class="table">
        <thread>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thread>
        <tbody>
        <tr class="col" th:each="blog, status : ${blogs}">
            <td th:text="${status.count}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.date}"></td>
            <td><a th:href="@{/blog/detail/{id}(id=${blog.id})}">Detail</a></td>
            <td><a th:href="@{/blog/delete/{id}(id=${blog.id})}">Delete</a></td>
            <td><a th:href="@{/blog/edit/{id}(id=${blog.id})}">Edit</a></td>
        </tr>
        <tr>
            <td colspan="6" th:if="${blogs.isEmpty()}" th:text="#{msgErr}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
</html>