<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of song</title>
</head>
<body>
<a th:href="@{/music/add}">Thêm mới bài hát</a>
<h3>Danh sách bài hát</h3>
<table>
    <tr>
        <th>STT</th>
        <th>Tên bài hát</th>
        <th>Ca sĩ</th>
        <th>Thể loại</th>
        <th>Play</th>
    </tr>
    <tr th:each="song, status : ${songMap}">
        <td th:text="${status.count}"></td>
        <td th:text="${song.getKey().name}"></td>
        <td th:text="${song.getKey().singer}"></td>
        <td th:text="${song.getKey().musicType.type}"></td>
        <td>
            <video controls>
                <source th:src="@{${song.getValue()}}">
            </video>
        </td>
    </tr>
</table>
</body>
</html>