<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create new customer</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/furama.css}">
</head>
<body>
<div class="container">
    <h3>Create new Customer</h3>
    <form th:object="${customer}" th:action="@{/f/customer/add}" method="post">
        <div class="mb-3">
            <label th:for="customerType" class="col-form-label">Customer type:</label>
            <select class="btn btn-outline-primary" th:field="*{customerType.customerTypeId}">
                <option th:each="c : ${customerTypes}"
                        th:value="${c.getCustomerTypeId()}"
                        th:text="${c.getCustomerTypeName()}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label th:for="customerName" class="col-form-label">Name:</label>
            <input type="text" class="form-control" th:field="*{customerName}"/>
        </div>

        <div class="mb-3">
            <label th:for="customerBirthday" class="col-form-label">Birthday:</label>
            <input type="date" class="form-control" th:field="*{customerBirthday}"/>
        </div>

        <div class="mb-3">
            <label th:for="customerGender" class="col-form-label">Gender:</label>
            <input type="radio" th:field="*{customerGender}" th:value="1" th:text="Men">
            <input type="radio" th:field="*{customerGender}" th:value="0" th:text="Women">
        </div>

        <div class="mb-3">
            <label th:for="customerIdCard" class="col-form-label">Id card:</label>
            <input type="text" class="form-control" th:field="*{customerIdCard}"/>
        </div>

        <div class="mb-3">
            <label th:for="customerPhone" class="col-form-label">Phone number:</label>
            <input type="text" class="form-control" th:field="*{customerPhone}"/>
        </div>

        <div class="mb-3">
            <label th:for="customerEmail" class="col-form-label">Email:</label>
            <input type="text" class="form-control" th:field="*{customerEmail}"/>
        </div>

        <div class="mb-3">
            <label th:for="customerAddress" class="col-form-label">Address:</label>
            <input type="text" class="form-control" th:field="*{customerAddress}"/>
        </div>

        <div class="modal-footer">
            <input type="submit" name="action" class="btn btn-success" value="Save">
        </div>
    </form>
</div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</html>