<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add room</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/room.css}">
</head>
<body>
<div class="container">
    <div class="modal-header">
        <h5 class="modal-title" id="addRoomModalLabel">Add new room</h5>
    </div>
    <div class="modal-body">
        <form th:object="${roomDto}" th:action="@{/room/add}" method="post">
            <div class="mb-3">
                <label th:for="roomName" class="col-form-label">Room name:</label>
                <input type="text" class="form-control" th:field="*{roomName}" th:id="roomName"/>
                <small class="msg-error" th:if="${#fields.hasErrors('roomName')}" th:errors="*{roomName}"></small>
            </div>
            <div class="mb-3">
                <label th:for="phone" class="col-form-label">Phone:</label>
                <input type="text" class="form-control" th:field="*{phone}" th:id="phone"/>
                <small class="msg-error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
            </div>
            <div class="mb-3">
                <label th:for="date" class="col-form-label">Date:</label>
                <input type="text" class="form-control" th:id="date" th:name="date"
                       th:value="${#dates.format(#dates.createNow(), 'dd-MM-yyyy')}"/>
                <small class="msg-error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></small>
            </div>
            <div class="mb-3">
                <label th:for="payment" class="col-form-label">Payment:</label>
                <select class="btn btn-primary btn-sm" th:field="*{payment.paymentId}">
                    <option th:each="payment : ${payments}"
                            th:value="${payment.paymentId}"
                            th:text="${payment.paymentName}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label th:for="note" class="col-form-label">Note:</label>
                <input type="text" class="form-control" th:field="*{note}" th:id="note"/>
                <small class="msg-error" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></small>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/room/show-room}" th:text="Cancel"></a>
                <input type="submit" class="btn btn-secondary" value="Add new">
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/room.js}"></script>
</html>