<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Delete room</title>
</head>
<body>
<div th:fragment="delRoom">
    <div class="modal fade"
         id="delRoomModal"
         tabindex="-1"
         aria-labelledby="delRoomModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delRoomModalLabel">Delete room</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form th:object="${room}" th:action="@{/room/delete}" method="post">
                        <input type="hidden" class="form-control" th:field="*{roomId}" th:id="roomId"/>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <input type="submit" class="btn btn-secondary" value="OK">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>